doctype 5
html(lang="en")
    head
        title= RabbitRabbitRabbit
        link(rel="stylesheet", type="text/css", href='/components/bootstrap/dist/css/bootstrap.min.css')
        script(src='/components/jquery/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/components/underscore/underscore-min.js')
        script(src='/components/backbone/backbone-min.js')
    body
        h1 RabbitRabbitRabbit
