doctype 5
html(lang="en")
    head
        title= RabbitRabbitRabbit
        link(rel="stylesheet", type="text/css", href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel="stylesheet", type="text/css", href='/css/main.css')
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        script(src='/bower_components/jquery/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/underscore/underscore-min.js')
        script(src='/bower_components/backbone/backbone-min.js')
        script(src='/bower_components/backbone.marionette/lib/backbone.marionette.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/models.js')
        script(src='/js/collections.js')
        script(src='/js/views.js')
        script(src='/js/routes.js')
        script(src='/js/main.js')
    body
        div.container
            div.row
                h1 RabbitRabbitRabbit
                ul#content.list-group
                .controls
                    input#field(style='width:350px;')
                    input#send(type='button', class="btn btn-primary", value='Send')
